*{
    box-sizing: border-box;
}
body{
    background-color:#442D4B;
    color:#ffff;
    font-family: Calibri; 
}
.add_movie{
    width:500px;
    margin:20px auto;
}
.add_movie select,.add_movie input,.add_movie textarea,.add_movie.select
{
    width:100%;
    display:block;
    margin:7px 0 15px;/* space between elements*/
    color: inherit;
   /* border-radius: 5px;*/
    background-color: inherit;
    
}
.add_movie input
{
    border-width:1px;
    height: 30px;
}
.add_movie select
{
    background: url("images\\downarrow.png") no-repeat right;
    background-position-x: 100%;
    background-size: 12px;
    height: 40px;
    width:100%;
    display:block;
    box-sizing: border-box;
    background-color:#442D4B;
    padding: 0 5px;
    font-family: inherit;
    color:#ffff;
    overflow: hidden;
    outline: none;
    appearance: none;
  
}
.add_movie h1{
    text-align: center;
}
.add_movie input[type=submit]{
    width: 100px;
    height: 40px;
    margin:0 auto;
    background-color: orange;
    border: none;
    color: #ffff;
    display: block;
    font-family: inherit;
}
.divide{
    width: 48%;
    display: inline-block;
    box-sizing: border-box;
    

}
.pd
{
    padding-left:10px;
}